body {
    background-image: url(./img_src/chained_bg1.png)
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
}

.menubuttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button_spacer {
    margin-bottom: 10px;
}
/* #easy_mode {
    height: 20%;
    width: 20%;
}

#medium_mode {
    height: 20%;
    width: 20%;
}

#hard_mode {
    height: 20%;
    width: 20%;
}

#chained_mode {
    height: 20%;
    width: 20%;
} */

#easy_mode:hover {
    filter: drop-shadow(1px 1px 11px #000);
}

#medium_mode:hover {
    filter: drop-shadow(1px 1px 11px #000);
}

#hard_mode:hover {
    filter: drop-shadow(1px 1px 11px #000);
}

#chained_mode:hover {
    filter: drop-shadow(1px 1px 11px rgb(166, 76, 76));
}