@font-face {
    font-family: chainedMain;
    src: url(/font/Chained_main-Regular.ttf)
}

#yep {
    height: 100px;
    width: 100px;
    margin: 0px;
    visibility: hidden;
    filter: drop-shadow(1px 1px 11px rgb(241, 74, 74));
}

#nope {
    height: 100px;
    width: 100px;
    margin: 0px;
    visibility: hidden;
    filter: drop-shadow(1px 1px 11px rgb(241, 74, 74));
}

body {
    background-image: url(/img_src/chained_bg3.png);
    font-family: chainedMain;
    color: white;
}

#chainedmodetext {
    text-shadow: 2px 2px 8px #710000;
}

#inpbox {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgaba(0, 0, 0, 0.06);
    border-radius: 20px;
    font-family: chainedMain;
    font-size: 20px;
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 22.5%;
    width: 22.5%;
}

#logo_small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 15%;
}

.menubuttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button_spacer {
    margin-bottom: 10px;
}

#spacer {
    margin-bottom: 20px;
}

#spacer_half {
    margin-bottom: 12px;
}

bigtext {
    font-size: 70px;
}

smalltext {
    font-size: 35px;
}

bluehi {
    text-shadow: 2px 2px 15px #51D0C4;
}

#instext {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    -webkit-text-stroke: 0.05px black;
    filter: drop-shadow(1px 1px 11px #000);
}
/* #easy_mode {
    height: 20%;
    width: 20%;
}

#medium_mode {
    height: 20%;
    width: 20%;
}

#hard_mode {
    height: 20%;
    width: 20%;
}

#chained_mode {
    height: 20%;
    width: 20%;
} */

#easy_mode:hover {
    filter: drop-shadow(1px 1px 11px #000);
    cursor: pointer;
}

#medium_mode:hover {
    filter: drop-shadow(1px 1px 11px #000);
    cursor: pointer;
}

#hard_mode:hover {
    filter: drop-shadow(1px 1px 11px #000);
    cursor: pointer;
}

#chained_mode:hover {
    filter: drop-shadow(1px 1px 11px rgb(166, 76, 76));
    cursor: pointer;
}

#readybutton:hover {
    filter: drop-shadow(1px 1px 11px rgb(255, 255, 255));
    cursor: pointer;
}

#gametext {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    -webkit-text-stroke: 0.05px black;
}

/* Animations */


.floating { 
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0px;
    margin-top: 10px;
}

.floatingfast { 
    animation-name: floatingfast;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0px;
    margin-top: 10px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes floatingfast {
    0% { transform: translate(0, 0px); }
    50%  { transform: translate(0, 35px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes pulsate_g {
    0% { text-shadow: 5px 5px 8px #18e745; }
    25% { text-shadow: 4px 4px 8px #1ba251; }
    50% { text-shadow: 2px 2px 8px #196839; }
    100% { }
}

@keyframes pulsate_r {
    0% { text-shadow: 5px 5px 8px #c92626; }
    25% { text-shadow: 4px 4px 8px #7e1313; }
    50% { text-shadow: 2px 2px 8px #4b0e0e; }
    100% { }
}